[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
furo = "*"
isort = "*"
mypy = "*"
pytest = "*"
sphinx = "*"
sphinx-autobuild = "*"
yapf = "*"
flake8-docstrings = "*"
types-requests = "*"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
scipy = "*"
tensorboardx = "*"
torch = "*"
tqdm = "*"

[requires]
python_version = "3.8"

[scripts]
doc = "sphinx-build -b html doc/source doc/build"
doc-server = "sphinx-autobuild --watch lmp --open-browser doc/source doc/build"
doc-coverage = "sphinx-build -b coverage doc/source doc/build"
# Lint with yapf.
ly = "yapf --in-place --recursive --exclude **/*/.venv lmp test"
# Lint with isort.
li = "isort lmp test"
# Lint with flake8.
lf = "flake8 --config=.flake8 lmp test"
tensorboard = "tensorboard --logdir exp/log"
test = "coverage run --branch --source=lmp --omit=.venv/* -m pytest"
test-coverage = "coverage report"
