coverage==6.2
flake8==4.0.1
flake8-docstrings==1.6.0
furo==2022.1.2
isort==5.10.1
mypy==0.931
numpy==1.22.1
pandas==1.4.0
pytest==6.2.5
requests==2.27.1
scipy==1.7.3
Sphinx==4.4.0
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.4.0
tensorboardX==2.4.1
types-requests==2.27.7
torch==1.10.1
tqdm==4.62.3
yapf==0.32.0
